.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.show-card {
  background-color: #6f6c6c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  overflow: hidden;
}

.show-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.show-card p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.show-card a {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #b4cce7;
  text-decoration: none;
  font-size: 20px;
}

.show-card a:hover {
  text-decoration: underline;
}
